@import '../variables/Variables.scss';

.imgCard {
    @include center-flex;
}

.imgBackdrop {
    width: 420px;
    height: 320px;
    background-color: $forestGreen;
    opacity: 0.7;
    position: absolute;
    transform: rotate(10deg);
}

.imageContainer {
    width: 400px;
    height: 300px;
    position: relative;
    margin: 2rem;
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.5);
}

.imageContainer img {
    min-width: 100%;
}