@import '../variables/Variables.scss';

.modalWrap {
    background-color: $marzipanGreen;
    @include center-flex;
    flex-direction: column;
    width: 900px;
    border-radius: 50px;
}

.image {
    margin-top: 5rem;
    width: 500px;
    height: 500px;
    border: solid 5px $forestGreen;
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.5);
}

.closeButton {
    margin: 30px;
    @include round-button-styles;
    font-family: $font;
    font-weight: 600;
}