@import '../variables/Variables.scss';

.ticketsCard {
    background-color: $marzipanGreen;
    width: 950px;
    padding: 2rem;
    border: solid 5px $forestGreen;
    border-radius: 50px;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    font-family: $font;
}

.cartButton {
    display: flex;
    align-self: flex-end;
    @include round-button-styles;
    @include center-flex;
}

.ticketOptionsInfoWrap {
    display: flex;
    justify-content: space-between;
}